@use "../../scss/variables";
@use "../../scss/button";

.ListComponent {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: var(--background-card-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  width: 600px;

  &__list {
    padding: 16px;
    list-style: none;
    width: 100%;
  }
}
