@use "../../scss/variables";
@use "../../scss/button";

.TaskBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main-color);
  height: calc(100vh - 60px);

  &.move {
    margin-top: 24px;
    justify-content: flex-start;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 900px;
    background-color: var(--background-card-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 20px;
    width: 600px;
  }
}

.button {
  width: 360px;
  height: 60px;
}
