@use "../../scss/variables";
@use "../../scss/button";

.button {
  width: 360px;
  height: 60px;
}

.button:hover {
  background-color: var(--primary-light-color);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main-color);
  height: calc(100vh - 60px);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 900px;
    background-color: var(--background-card-color);
    border-radius: 16px;
    border: 1px solid var(--border-color);
    padding: 60px 40px;
  }

  &__h1 {
    color: var(--text-main-color);
    font-size: 48px;
  }

  &__p {
    color: var(--text-secondary-color);
  }
}

.features {
  padding: 40px;
  display: flex;
  background-color: var(--background-main-color);
  height: calc(100vh - 60px);

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__item {
    display: flex;
    width: 100%;
  }

  &__item:nth-child(2) {
    justify-content: flex-end;
  }

  &__article {
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-card-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    width: 600px;
    height: 180px;
  }

  &_article__title {
    font-size: 32px;
    color: var(--text-main-color);
  }

  &_article__text {
    font-size: 18px;
    color: var(--text-secondary-color);
  }
}
