.button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--background-card-color);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}
