@use "./variables";

.input {
  padding: 10px;
  background-color: var(--background-main-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--text-main-color);
}

.label {
  font-size: 24px;
}

.select {
  padding: 6px 12px;
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
  border-radius: 8px;
}
