:root {
  --primary-color: #4f46e5;
  --primary-light-color: #6366f1;
  --background-main-color: #f9fafb;
  --background-card-color: #fff;
  --accent-color: #eef2ff;
  --border-color: #e5e7eb;
  --text-main-color: #111827;
  --text-secondary-color: #6b7280;
  --success-color: #10b981;
}
