@use "../scss/variables";
@use "../scss/links.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.Layout {
  background-color: var(--background-main-color);

  &__header {
    background-color: var(--background-card-color);
    padding: 20px;
    position: sticky;
    top: 0;
  }

  &__ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
}
